.head{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 100%;
    height: 60px;
    color: white;
}
.title{
    font-size: 30px;
    margin-left: 80px;
    padding: 10px;
    float: left;
    font-weight: 700;
    display: flex;
}
.a1{
    font-size: 30px;
    margin-left:700px;
    padding: 10px;
    float: left;
    text-decoration: none;
    color: white;
    font-weight: 150;
    margin-right: 30px;
    display: flex;
}
.a1:hover{
    
    color: orange;
   
}
.a1:link{
    color: orange;
    
}
.button1{
    font-size: 20px;
    padding: 11px;
    float: left;
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 20px;
    
}
.button1:hover{
    border: 2px solid black;
}
.display{
    display: none;
}

