.signup{
    width:400px;
    height: 800px;
    
    /* border-radius: 10px; */
    /* margin-top: 130px; */
    /* margin-left: 500px; */
    background-color: white;
    box-shadow: 2px 2px #888888;

}
.containersignup{
    /* background-color: aqua; */
    height: 900px;
    width: 100%;
    text-align: center;
    
}
.inputsignup{
    padding: 14px;
    font-size: 20px;
    margin: 10px;
}
.submit{
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: yellow;
    border: 2px solid wheat;
    border-radius: 7px;
}
.submit:hover{
    background-color: darkgoldenrod;
}
.login:hover{
    box-shadow: 5px 5px #888888;
}
.link{
    float: right;
}
